* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #849974;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

.hero {
    font: #613A43 bold 25px
}